In [2]:
! pip install pymysql

Collecting pymysql
  Using cached PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [30]:
# 데이터 베이스 생성
import pymysql.cursors
conn = pymysql.connect(host='localhost',user='root',password='root',charset='utf8')
try:
    with conn.cursor() as cursor:
        sql = 'CREATE DATABASE example_db'
        cursor.execute(sql)
    conn.commit()

finally:
    conn.close()

In [31]:
# 테이블 생성
import pymysql.cursors

conn = pymysql.connect(host='localhost',user='root',password='root',charset='utf8',db='example_db')
try:
    with conn.cursor() as cursor:
        sql = '''
            CREATE TABLE users (
                id int(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,
                email varchar(255) NOT NULL,
                password varchar(255) NOT NULL
             )ENGINE=InnoDB DEFAULT CHARSET=utf8
'''
# user라는 table생성하고 열 이름과 타입 지정
        cursor.execute(sql)
    conn.commit()
finally:
    conn.close()

In [32]:
# 데이터 삽입
import pymysql.cursors

conn = pymysql.connect(host='localhost',user='root',password='root',db='example_db',charset='utf8')

try:
    with conn.cursor() as cursor:
        sql = "INSERT INTO users (email,password) VALUES (%s,%s)" # users라는 테이블 안에 email, password 값 추가
        cursor.execute(sql,('test@test.com','my-passwd'))
    conn.commit()
    print(cursor.lastrowid)
finally:
    conn.close()

1

In [33]:
# 데이터 조회(select)
import pymysql.cursors

conn = pymysql.connect(host='localhost',user='root',password='root',db='example_db',charset='utf8')

try:
    with conn.cursor() as cursor:
        sql = 'SELECT * FROM users WHERE email=%s' # email이 test@test.com인거 행 뽑아내기
        cursor.execute(sql,('test@test.com',))
        result = cursor.fetchone()
        print(result)
finally:
    conn.close()

(1, 'test@test.com', 'my-passwd')

In [34]:
import pymysql.cursors

conn = pymysql.connect(host='localhost',user='root',password='root',db='example_db',charset='utf8')

try:
    with conn.cursor() as cursor:
        sql = "INSERT INTO users (email,password) VALUES (%s,%s)"
        cursor.execute(sql,('your@tet.com','your-passwd'))
    conn.commit()
    
    with conn.cursor() as cursor:
        sql = 'SELECT * FROM users' # 조건없이 모든 행 추출
        cursor.execute(sql)
        result = cursor.fetchall() # fetchall 사용
        print(result)
finally:
    conn.close()

((1, 'test@test.com', 'my-passwd'), (2, 'your@tet.com', 'your-passwd'))

In [35]:
# 데이터 수정(updqte)
import pymysql.cursors

conn = pymysql.connect(host='localhost',user='root',password='root',db='example_db',charset='utf8')

try:
    with conn.cursor() as cursor:
        sql = "UPDATE users SET email=%s WHERE email=%s" # email 주소 변경(변경값, 변경 전)
        cursor.execute(sql,('my@test.com','test@test.com'))
    conn.commit() # commit은 모든 작업을 정상적으로 잘 처리하겠다고 확정하는 명령어
    print(cursor.rowcount) # 데이터를 가져오는 경우 전체 개수

    with conn.cursor() as cursor:
        sql = "SELECT * FROM users"
        cursor.execute(sql)
        result = cursor.fetchall()
        # 모든 행의 개수가 나오게 됨
        print(cursor.rowcount)
        print(result)
finally:
    conn.close()

1
2
((1, 'my@test.com', 'my-passwd'), (2, 'your@tet.com', 'your-passwd'))

In [36]:
# 데이터 삭제(delete)
import pymysql.cursors

conn = pymysql.connect(host='localhost',user='root',password='root',db='example_db',charset='utf8')

try:
    with conn.cursor() as cursor:
        sql = "DELETE FROM users WHERE email=%s"
        cursor.execute(sql,('my@test.com'))
    conn.commit()
    print(cursor.rowcount)

    with conn.cursor() as cursor:
        sql = "SELECT * FROM users"
        cursor.execute(sql)
        result = cursor.fetchall()
        print(cursor.rowcount)

finally:
    conn.close()

1
1

In [ ]:
# 테이블 생성
import pymysql.cursors

conn = pymysql.connect(host='localhost',user='root',password='root',charset='utf8',db='suwon')
try:
    with conn.cursor() as cursor:
        sql = '''
            CREATE TABLE suwon_samsung (
                id int(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,
                기준년월 varchar(255) NOT NULL,
                시군구 varchar(255) NOT NULL,
                읍면동 varchar(255) NOT NULL,
                법정동코드 varchar(255) NOT NULL,
                법정동 varchar(255) NOT NULL,
                우편번호 varchar(255) NOT NULL,
                업종 varchar(255) NOT NULL,
                구분 varchar(255) NOT NULL,
                성별 varchar(255) NOT NULL,
                연령대 varchar(255) NOT NULL,
                결제건수 int(11) NOT NULL,
                결제금액 int(11) NOT NULL
             )ENGINE=InnoDB DEFAULT CHARSET=utf8
'''
# user라는 table생성하고 열 이름과 타입 지정
        cursor.execute(sql)
    conn.commit()
finally:
    conn.close()